


body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #E5E5C7;
}

#nav, #nav li, #call {
   list-style: none; 
   display: inline-block;
   margin: 15px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   /* border: solid 1px; */
   
}


#call {
    float:right;
    margin: 25px;
}

#contact, #nav li a {
    text-decoration: none;
    color: #59656f;
}

#contact:hover, #nav li a:hover{
    color: #fff;
}

.container {
    text-align: left;
}

#adopt-form {
    font-weight: bold;
    text-align:left;
    margin-left: 40%;
}

p {
    font-weight: normal;
}

h1 {
    font-size: 100px;
    text-align:center;
    font-family: "Dancing Script";
}

button {
    background-color:#E5E5C7;
    height: 40px;
    width: 100px;
    font-size: 18px;

}