
body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #E5E5C7;
}

#nav, #nav li, #call {
   list-style: none; 
   display: inline-block;
   margin: 15px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
  
   
}


#call {
    float:right;
    margin: 25px;
}

#contact, #nav li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#contact:hover, #nav li a:hover{
    color: #fff;
}

h1 {
    text-align:center;
    font-size: 70px;
    color: #000;
    font-family: "Dancing Script";

}

#hero {
    width: 400px;
}

.pet-image {
    display:block;
    width: 15vw;
    height: 15vw;  
 
    
}

table, th, td { 
    border: solid 1px black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: "Handlee";
    font-size: 20px;

}

th {
    font-weight: bold;
    font-size: 25px;
}

td {
    width:150px;
    font-size: 30px;
}

.pet-info {
    text-align:center;
    background-color: #E5E5C7;
    padding-top: 15px;
    padding-bottom: 10px;
}

caption {
    font-size: 50px;
}

p {
    font-size: 20px;
}

#footer {
    text-align: center;
    padding: 20px 0;
    color: #59656f;
}